<html>
<head>
    <title>Criando User Page</title>
    </head>    
    <body>
        <h1>Criando Usuário</h1>
        <form action="{{url_for('create_user_do')}}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Salvando">
        </form>
    </body>
</html>